rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /folders/{folderId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /collaborators/{userId_folderId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /message/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /sharedWithMeFolders/{userId_folderId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    match /recent-files/{userId_folderId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /starredFolders/{userId_folderId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /generalAccess/{folderId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /folderActivities/{activitiyId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /files/{filesId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
